.cart-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.cart-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-page .product-section {
  margin-top: 20px;
}

.cart-page .product-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /* Responsive product grid */
  gap: 20px;
}

.cart-page .product-card {
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-page .product-card img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 8px;
}
.cart-page .product-card .product-details {
  display: flex;
  flex-direction: column;
}
.cart-page .product-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #333;
}

.cart-page .product-card p {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #555;
}

.cart-page .product-card .product-details button {
  width: 10rem;
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff; /* Primary blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto auto 0px auto;
}

.cart-page .product-card button:hover {
  background-color: #0056b3;
}
